# C/C++ Build Artifacts
*.d
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.slo
*.mod
*.smod
*.lai

# Dynamic Libraries and Executables
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug Files
*.dSYM/
*.su
*.idb
*.pdb
*.dSYM.zip
*.dSYM

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# macOS System Files
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.icloud

# Xcode
## User settings and state
xcuserdata/
*.xcscmblueprint
*.xccheckout
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
**/xcshareddata/WorkspaceSettings.xcsettings

## Build and output
build/
DerivedData/
*.hmap
*.ipa

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
Package.resolved
.swiftpm/
.swiftpm/xcode/package.xcworkspace
.swiftpm/xcode/xcuserdata/
Packages
Dependencies/
.accio/

# Swift Specific
*.swiftdoc
*.swiftmodule

# CocoaPods
Pods/
*.xcworkspace
!default.xcworkspace

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Carthage
Carthage/Build/

# Code Coverage
*.gcno
*.gcda
*.gcov

# IDE Specific
## AppCode
.idea/
## iOS Injection
iOSInjectionProject/